html,body,canvas {
  padding: 0; margin: 0;
}
#mobileInterface {
  position: fixed;
  width: calc(100% - 20px);
  height: 50vh;
  // background-color: rgba($color: #000000, $alpha: 0.2);
  pointer-events: none;
  z-index: 11;
  top: auto;
  bottom: 120px;
  left: 10px;
  touch-action: manipulation;

  #joystickWrapper1 {
    pointer-events: auto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: transparent;
    width: 15vw;
    height: 15vw;
    z-index: 12;
    touch-action: manipulation;
    background-color: rgba(red, 0.2);
  }

  #joystickWrapper2 {
    pointer-events: auto;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    background-color: transparent;
    width: 50vw;
    height: 140px;
    z-index: 12;
    touch-action: manipulation;
    //display: none;

    #jumpButton {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 15vw;
      height: 15vw;
      border-radius: 50%;
      background-color: rgba($color: white, $alpha: 0.2);
      opacity: 1;
      touch-action: manipulation;

      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: auto;

      p {
        position: relative;
        display: inline-block;
        color: white;
        opacity: 1;
        margin: 0;
        padding: 0;
        letter-spacing: 4px;
        margin-left: 4px;
      }
    }
  }

}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}